In [11]:
# Oppgave 1
# Importing necessary packages
import pandas as pd # type: ignore
import numpy as np # type: ignore
import matplotlib.pyplot as plt # type: ignore
import seaborn as sns # type: ignore

In [12]:
# Reading Grocery CSV file and creating dataframe 
Grc_df = pd.read_csv('data/Grocery_dataset.csv')

In [10]:
# Number of rows (5000) and columns (12) in dataset
Grc_df.shape

(5000, 12)

In [11]:
# First 10 rows
Grc_df.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [12]:
# Last 10 rows
Grc_df.tail(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4990,FDE46,18.60,Low Fat,0.015859,Snack Foods,152.9366,OUT017,2007,NaN,Tier 2,Supermarket Type1,453.4098
4991,NCQ53,17.60,Low Fat,0.018905,Health and Hygiene,234.6590,OUT046,1997,Small,Tier 1,Supermarket Type1,8508.9240
4992,NCN42,20.25,Low Fat,0.014281,Household,148.0418,OUT018,2009,Medium,Tier 3,Supermarket Type2,1177.1344
4993,DRH11,5.98,Low Fat,0.075675,Hard Drinks,53.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,331.5684
4994,NCI42,18.75,Low Fat,0.010382,Household,207.8954,OUT049,1999,Medium,Tier 1,Supermarket Type1,2292.3494
4995,FDT07,5.82,Regular,0.077476,Fruits and Vegetables,255.3330,OUT045,2002,NaN,Tier 2,Supermarket Type1,4870.3270
4996,DRL60,8.52,Low Fat,0.027059,Soft Drinks,153.3682,OUT046,1997,Small,Tier 1,Supermarket Type1,914.8092
4997,FDG20,15.50,Regular,0.126200,Fruits and Vegetables,178.4028,OUT018,2009,Medium,Tier 3,Supermarket Type2,1239.7196
4998,FDF56,16.70,Regular,0.119462,Fruits and Vegetables,182.7976,OUT046,1997,Small,Tier 1,Supermarket Type1,1810.9760
4999,FDV33,9.60,Regular,0.027455,Snack Foods,258.1304,OUT018,2009,Medium,Tier 3,Supermarket Type2,2324.9736

In [17]:
# Oppgave 2
# Checking for null values
Grc_df.isnull().sum()

Item_Identifier                 0
Item_Weight                   818
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1439
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [30]:
#Oppgave 3
# Get unique outlet sizes from the dataset
unique_outlet_sizes = Grc_df['Outlet_Size'].unique()

# Count the number of unique outlet sizes including nan.(nan (Not a Number) represents missing or undefined values in the dataset)
num_unique_outlet_sizes = len(unique_outlet_sizes)

#Printing the number of unique outlet sizes and the unique sizes themselves
print(f"Number of Unique Outlet Sizes: {num_unique_outlet_sizes}")  # This includes'nan' in the count
print(f"Unique Outlet Sizes: {unique_outlet_sizes}")  # This lists all unique sizes, including 'nan'

Number of Unique Outlet Sizes: 4
Unique Outlet Sizes: ['Medium' nan 'High' 'Small']

In [22]:
# Get the count of each outlet size
outlet_size_counts = Grc_df['Outlet_Size'].value_counts()

# Find the maximum outlet size
max_outlet_size = outlet_size_counts.idxmax()
print("Maximum Outlet Size:", max_outlet_size)

Maximum Outlet Size: Medium

In [23]:
# Find the minimum outlet size
min_outlet_size = outlet_size_counts.idxmin()
print("Minimum Outlet Size:", min_outlet_size)

Minimum Outlet Size: High

In [24]:
#Oppgave 4.
# Geting the unique values in the 'Item_Fat_Content' column
unique_fat_content_types = Grc_df['Item_Fat_Content'].unique()

# Counting the number of unique item fat content types
num_unique_fat_content_types = len(unique_fat_content_types)

#print the results
print("Number of unique item fat content types:", num_unique_fat_content_types)
print("Unique item fat content types:", unique_fat_content_types)

Number of unique item fat content types: 5
Unique item fat content types: ['Low Fat' 'Regular' 'low fat' 'LF' 'reg']

In [26]:
# Standardize item fat content types
# Convert all values to lowercase and strip any whitespace
Grc_df['Item_Fat_Content'] = Grc_df['Item_Fat_Content'].str.lower().str.strip()

# Check the unique values again after standardization
print("Unique item fat content types after standardization:")
print(Grc_df['Item_Fat_Content'].unique())

Unique item fat content types after standardization:
['low fat' 'regular' 'lf' 'reg']

In [32]:
# Replace abbreviations with full terms for consistency
Grc_df['Item_Fat_Content'] = Grc_df['Item_Fat_Content'].replace({
    'lf': 'low fat',
    'reg': 'regular'
})

# Check the unique values again after further standardization
print("Unique item fat content types after further standardization:")
print(Grc_df['Item_Fat_Content'].unique())

Unique item fat content types after further standardization:
['low fat' 'regular']